<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections/>
  <connectionStrings>
    <add name="KPIConnectionString" connectionString="Data Source=10.162.245.67;Initial Catalog=CasetekKPIRSDB;User ID=KPIRSUser;Password=KPIRSUser#12345" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <appSettings>
    <!--WebSite Title Setup-->
    <add key="WebSiteTitle" value="Welcom to the casetekcorp KPI Web Site"/>
    <add key="WebSiteName" value="鎧勝集團績效考評系統"/>
    <add key="WebSiteWelcomeDesc" value="Welcom to casetekcorp KPI Web Site"/>
    <!--Domain Server Setup-->
    <add key="LDAPDomain" value="LDAP://kj.cs.corpnet"/>
    <!--Url Setup-->
    <add key="urlLogin" value="~/Login.aspx"/>
    <add key="urlPermissionDenied" value="~/PermissionDenied.aspx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <anonymousIdentification enabled="true"/>
    <authentication mode="Windows"/>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <!--<httpRuntime executionTimeout="3600" maxRequestLength="100000"/>-->
  </system.web>
</configuration>